body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 20px;
}

.navbar {
  overflow: hidden;
}

.navbar {
  float: left;
  color: black;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

.navbar a:hover {
  backround-color: #ddd;
}

.header {
  text-align: center;
}

.description {
  margin: 20px 40px;
}

.profile-img {
  width: 450px;
  height: 250px;
  border-radius: 50%;
}
